.main-header{
    width: 100%;
    height: 120px;
    background: rgb(170, 168, 168);
    padding: 0 2%;
}

.menu-images{
    padding:20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-images img{
    width: 150px;
    height: 50px;
}

@media(max-width:740px){
    .main-header{
        height: auto;
    }

    .menu-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-images img{
        margin: 6px 0;
    }
}